<div class="container">
  <h1>Address</h1> <br>
  <table class="table">
    <%= render "layouts/errormsg/errormsg" %>


      <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Address</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
    <% @addresses.each do |address| %>
      <tbody>
      <tr>
        <th scope="row"><%= address.id %></th>
        <td><%= address.name %></td>
        <td><%= address.phone_number %></td>
        <td><%= concat_address(address) %></td>
        <td>
          <%= form_for address, method: :delete do |f| %>
            <%= link_to "edit ", edit_address_path(address), class: "btn btn-info" if address.user == current_user %>
            <%= f.submit "delete", class: "btn btn-info", url: address_path(address) if address.user == current_user %>
          <% end %>
        </td>
      </tr>
      </tbody>
    <% end %>
    <%= link_to 'Add', new_address_path, class: 'btn btn-success mb-4' %>
  </table>
</div>

<%= render "layouts/sharednav/nav" %>