<h1>Show address id <%= @address.id %></h1>
<div>
  <div><%= @address.genre %></div>
  <div><%= @address.name%></div>
  <div><%= @address.street_address%></div>
  <div><%= @address.phone_number%></div>
  <div><%= @address.is_default%></div>
  <div><%= @address.region_id%></div>
  <div><%= @address.province_id%></div>
  <div><%= @address.city_id%></div>
  <div><%= @address.barangay_id%></div>
</div>
<%= link_to 'Back', address_index_path %>
<%= link_to 'Edit', edit_address_path(@address) %>
<%= render "layouts/sharednav/nav" %>