<%= render "layouts/errormsg/errormsg" %>
<div style="">
  <td><%= image_tag "http://localhost:3000/#{item. image.url}",style: 'height: 150px;' if item.image? %></td>
  <div>
    <%= f.label :image %>
    <%= f.file_field :image, class: 'form-control' %>
  </div>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div>
    <%= f.label :quantity %>
    <%= f.text_field :quantity, class: 'form-control' %>
  </div>
  <div>
    <%= f.label :minimum_bet %>
    <%= f.text_field :minimum_bet, class: 'form-control' %>
  </div>
  <div>
    <%= f.label :category %>
    <%= f.collection_select :category_id, Category.order(:id), :id, :name, { include_blank: "Please Select Category" }, { class: "form-control form-control-lg mb-3" } %>
  </div>
  <div>
    <%= f.label :online_at %>
    <%= f.datetime_field :online_at, class: 'form-control' %>
  </div>
  <div>
    <%= f.label :offline_at %>
    <%= f.datetime_field :offline_at, class: 'form-control' %>
  </div>
  <div>
    <%= f.label :start_at %>
    <%= f.datetime_field :start_at, class: 'form-control' %>
  </div>
  <div>
    <%= f.label :status %>
    <%= f.select(:status, Item.statuses.keys.map { |key| [key.humanize, key] }, { include_blank: 'Please Select Status' }, { class: 'form-control mt-3' }) %>
  </div>
</div>
