<%= render "layouts/navbar_admin/navadmin" %>
<div class="main">
  <h1 style="color: blue; margin-top: 15px;">Item list</h1>
  <%= render "layouts/errormsg/errormsg" %>
  <%= link_to 'Add', new_admin_item_path, class: 'btn btn-success mb-4', style:"width: 70px;"  %>
  <table class="table table-striped border border-success">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Quantity</th>
      <th scope="col">Minimum bet</th>
      <th scope="col">Batch count</th>
      <th scope="col">Online at</th>
      <th scope="col">Offline at</th>
      <th scope="col">Start at</th>
      <th scope="col">Status</th>
      <th scope="col">State</th>
      <th>Action</th>
      <th scope="col">State action</th>
    </tr>
    </thead>
    <% @items.each do |item| %>
      <tbody>
      <tr>
        <th  scope="row"><%= item.id %></th>
        <td><%= image_tag item.image.url,style: 'height: 150px;' if item.image? %></td>
        <td><%= item.name %></td>
        <td><%= item.category&.name %></td>
        <td><%= item.quantity %></td>
        <td><%= item.minimum_bet %></td>
        <td><%= item.batch_count %></td>
        <td><%= item.online_at %></td>
        <td><%= item.offline_at %></td>
        <td><%= item.start_at %></td>
        <td><%= item.status%></td>
        <td><%= item.state%></td>
        <td>
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <%= link_to " edit ", edit_admin_item_path(item), class: "btn btn-info ", style:"width: 70px;" %>
            <%= link_to "delete", admin_item_path(item), method: :delete, class: "btn btn-danger", style:"width: 70px;" %>
          </div>
        </td>
        <td>
          <div><%= button_to "Start",admin_item_start_path(item), class: "btn btn-primary", style:"width: 80px;margin-bottom: 2px;", method: :put if item.may_start? %></div>
          <div><%= button_to "Pause",admin_item_pause_path(item), class: "btn btn-primary", style:"width: 80px;margin-bottom: 2px;", method: :put if item.may_pause? %></div>
          <div><%= button_to "End",admin_item_end_path(item), class: "btn btn-primary", style:"width: 80px;margin-bottom: 2px;", method: :put if item.may_end? %></div>
          <div><%= button_to "Cancel",admin_item_cancel_path(item), class: "btn btn-primary", style:"width: 80px;margin-bottom: 2px;", method: :put if item.may_cancel? %></div>




        </td>
      </tr>
      </tbody>
    <% end %>
  </table>
  <br>
</div>
