<%= render "layouts/navbar_admin/navadmin" %>
<div class="main">
  <h1 style="color: blue; margin-top: 15px;">User list</h1>
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Parent</th>
      <th scope="col">Email</th>
      <th scope="col">Total deposit</th>
      <th scope="col">Members total deposit</th>
      <th scope="col">Coins</th>
      <th scope="col">Total used coins</th>
      <th scope="col">Children members</th>
      <th scope="col">Phone number</th>
      <th scope="col">Ballance operate</th>
    </tr>
    </thead>
    <% @users.each do |user| %>
      <tbody>
      <tr>
        <td scope="col"><%= user.id %></td>
        <td scope="col"><%= user.parent&.email %></td>
        <td scope="col"><%= user.email %></td>
        <td scope="col"><%= user.total_deposit %></td>
        <td scope="col"><%= user.phone %></td>
        <td scope="col"><%= user.coins %></td>
        <td scope="col"></td>
        <td scope="col"><%= user.children_members %></td>
        <td scope="col"><%= user.phone %></td>
        <td><%= link_to " Operate ", new_admin_userlist_increase_path(user), class: "btn btn-info ", style:"width: auto;" %></td>
      </tr>
      </tbody>

    <% end %>
  </table>

</div>
