<%= render "layouts/navbar_admin/navadmin" %>
<br>
<div class="main">
  <table class="table table-striped border border-success">
    <h2 scope="col">All Orders</h2>
    <thead>
    <tr>
      <th scope="col">User ID</th>
      <th scope="col">Offer ID</th>
      <th scope="col">Serial number</th>
      <th scope="col">State </th>
      <th scope="col">Amount</th>
      <th scope="col">Coin</th>
      <th scope="col">Remarks</th>
      <th scope="col">Genre</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <% @orders.each do |order| %>
      <tbody>
      <tr>
        <th scope="row"><%= order.user.id %></th>
        <td><%= order.offer&.id %></td>
        <td><%= order.serial_number %></td>
        <td><%= order.state %></td>
        <td><%= order.amount %></td>
        <td><%= order.coin %></td>
        <td><%= order.remarks %></td>
        <td><%= order.genre %></td>
        <td>
          <%= button_to "submit", admin_order_submit_path(order),class: "btn btn-primary", style:"width: 80px;", method: :put if order.may_submit? %>
          <%= button_to "cancel", admin_order_cancel_path(order),class: "btn btn-primary", style:"width: 80px;", method: :put if order.may_cancel? %>
          <%= button_to "pay", admin_order_pay_path(order),class: "btn btn-primary", style:"width: 80px;", method: :put if order.may_pay? %>
        </td>
      </tr>
      </tbody>
    <% end %>
  </table>
</div>
