<h1>Address</h1>
<% @address.each do |address| %>
  <div class="container">
    <br><br>
    <div class="row">
      <p><%= image_tag "http://localhost:3000/#{post.image.url}" if post.image? %></p>
    </div>

    <div class="row">
      <div class="col">
        <p><b><%= Post.human_attribute_name(:email) %> : </b><%= address.user.email.capitalize %></p>
      </div>
    </div>

    <div class="row">
      <div class="col"><p><b><%= Post.human_attribute_name(:disaster) %> : </b><%= post.disaster.disaster_type %></p></div>
    </div>

    <div class="row">
      <div class="col"><p><b><%= Post.human_attribute_name(:title) %> :</b><%= post.title.capitalize %></p></div>
    </div>

    <div class="row">
      <p><b><%= Post.human_attribute_name(:short_url) %>
        :</b><%= link_to "#{@domain}/#{post.url_short}", post.url_short %></p>
    </div>

    <div class="row">
      <p><b><%= Post.human_attribute_name(:address) %> :</b><%= post.address.capitalize %></p>
    </div>

    <div class="row">
      <p><b><%= Post.human_attribute_name(:content) %> :</b><%= post.content.capitalize %></p>
    </div>

    <div class="row">
      <p><b><%= Post.human_attribute_name(:comments) %> : </b><%= post.comments.count %></p>
    </div>

    <button type="button" class="btn btn-info"><%= link_to :comments, post_comments_path(post) %></button>
    <button type="button" class="btn btn-info"><%= link_to "show ", post_path(post) %></button>
    <%= link_to "edit ", edit_post_path(post) if post.user == current_user %>
    <%= form_for post, url: post_path(post), method: :delete do |f| %>
      <%= f.submit "delete" if post.user == current_user %>
    <% end %>

<% end %>

<%= link_to 'New', new_post_path, class: 'btn btn-success mb-4' %>
</div>