<style>
  .user-profile{
      border: 1px solid;
      padding: 10px;
      margin: auto;
      width: 60%;
      margin-top: 100px;
  }
  .full-width{
      width: 100%;
      text-align: center;
      padding: 5px;
  }
  .full-width .button
</style>

<div  class="user-profile">
  <div><%= image_tag current_user&.avatar.url if current_user.avatar? %></div>
  <div><p>Username : <%=current_user.username %></p></div>
  <br>
  <div><p>Email : <%=current_user.email %></p></div>
  <br>
  <div><p>Coins : <%=current_user.coins %></p></div>
  <br>
  <button class="full-width">Cash in now</button>
  <br>
  <br>
  <div class="full-width">
    <%= link_to "Me",edit_user_registration_path, {class: "btn btn-primary btn-lg btn-block", style:"width: 49%;"} if user_signed_in?%>
    <%= link_to "Address", address_index_path, {class: "btn btn-primary btn-lg btn-block", style:"width: 49%;"} if user_signed_in?%>
  </div>
</div>
<%= render "layouts/sharednav/nav" %>