<%= render "layouts/navbar_admin/navadmin" %>
<div class="main">
  <h1>Ballance operate</h1>
  <%= render "layouts/alert_msg/alert_notice" %>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <%= link_to "Increase", new_admin_userlist_increase_path(@user), class: "nav-link active" if admin_user_signed_in? %>
            </li>
            <li class="nav-item">
              <%= link_to "Deduct", new_admin_userlist_deduct_path(@user), class: "nav-link " if admin_user_signed_in? %>
            </li>
            <li class="nav-item">
              <%= link_to "Bonus",new_admin_userlist_bonu_path(@user), class: "nav-link " if admin_user_signed_in? %>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <%= form_for @order, url: admin_userlist_increase_index_path(@user), method: :post do |f| %>
            <div>
              <%= f.label :coin %>
              <%= f.number_field :coin, min:1, value:1, class: 'form-control' %>
            </div>
            <div>
              <%= f.label :remarks %>
              <%= f.text_field :remarks, required: true, class: 'form-control' %>
            </div>
            <%= f.submit "Save", data:{confirm:'Are you sure do you want to increase the coins of this user?'}, class: 'btn btn-primary mt-2', style: 'margin-buttom: 10px; width: auto;' %><br><br>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Username</span>
            <input type="text" class="form-control" value="<%=@user.username %>" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Promoter name</span>
            <input type="text" class="form-control" value="<%= @user.parent&.username %>" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Coins</span>
            <input type="text" class="form-control" value="<%= @user.coins %>" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" readonly>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>