<%= render "layouts/navbar_admin/navadmin" %> <br>
<div class="main">
  <div class="border p-3">
    <%= form_tag({ url: admin_winners_path }, { method: :get }) do %>
      <div>
        <%= label_tag :find_by %>
      </div>

      <div class="d-inline p-2">
        <%= label_tag :serial_number %>
        <%= text_field_tag :serial_number, '' %>
      </div>

      <div class="d-inline p-2">
        <%= label_tag :email %>
        <%= text_field_tag :email, '' %>
      </div>

      <div class="d-inline p-2">
        <%= label_tag :state %>
        <%= text_field_tag :state, '' %>
      </div>
      <br> <br>

      <div>
        <%= label_tag :date_created %>
      </div>

      <div class="d-inline p-2">
        <%= label_tag :start_date %>
        <%= datetime_field_tag :start_date, '' %>
      </div>

      <div class="d-inline p-2">
        <%= label_tag :end_date %>
        <%= datetime_field_tag :end_date, '' %>
      </div>

      <div>
        <%= submit_tag :Search, class:"btn btn-primary" %>
      </div>
    <% end %>
  </div>

  <table class="table table-striped border border-success">
    <h2 scope="col">All Bets</h2>
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Serial number</th>
      <th scope="col">Email</th>
      <th scope="col">Address</th>
      <th scope="col">State</th>
      <th scope="col">Batch count</th>
      <th scope="col">Created at</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <% @winners.each do |winner| %>
      <tbody>
      <tr>
        <th scope="row"><%= winner.id %></th>
        <td><%= winner.bet.serial_number %></td>
        <td><%= winner.user.email %></td>
        <td><%= concat_address(winner.address) %></td>
        <td><%= winner.state %></td>
        <td><%= winner.item_batch_count %></td>
        <td><%= winner.created_at %></td>
        <td>
          <%= button_to "Submit", admin_winner_submit_path(winner), class: "btn btn-primary", style:"width: 80px;", method: :put if winner.may_submit? %>
          <%= button_to "Pay",  admin_winner_pay_path(winner),class: "btn btn-primary", style:"width: 80px;",method: :put if winner.may_pay? %>
          <%= button_to "Ship",  admin_winner_ship_path(winner),class: "btn btn-primary", style:"width: 80px;",method: :put if winner.may_ship? %>
          <%= button_to "Deliver",  admin_winner_deliver_path(winner),class: "btn btn-primary", style:"width: 80px;",method: :put if winner.may_deliver? %>
          <%= button_to "Publish",  admin_winner_publish_path(winner),class: "btn btn-primary", style:"width:  80px;",method: :put if winner.may_publish? %>
          <%= button_to "Remove publish",  admin_winner_remove_publish_path(winner),class: "btn btn-primary", style:"width: 150px;",method: :put if winner.may_remove_publish? %>
        </td>
      </tr>
      </tbody>
    <% end %>
  </table>
</div>