<%= render "layouts/imgslider/imgslider" %>
<div style="margin-bottom: 100px; text-align: center;">
  <div>
    <div style="display: inline-flex;">
      <%= link_to "All", users_lotteries_path, class:"btn btn-primary rounded-pill" %>
      <% @categories.each do |category| %>
        <%= link_to category.name, users_lotteries_path(category: category.name), style: "margin-left: 10px;", class:"btn btn-primary rounded-pill" %>
      <% end %>
    </div>
  </div>
  <br>

  <div>
    <div style="display: inline-block;text-align: center;">
      <%= render "layouts/errormsg/errormsg" %>
      <div>
        <% @items.each do |item| %>
          <div style="display: inline-block;width: 40%;margin-bottom: 10px;">
                <%= link_to  (image_tag item.image.url, style: "width: 80%;" if item.image?),users_lottery_path(item) %>  <br>
                <%= item.name %>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: <%= progress(item) %>%;" aria-valuenow="<%= progress(item) %>" aria-valuemin="0" aria-valuemax="100"><%= progress(item) %>%</div>
            </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render "layouts/sharednav/nav" %>