
<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }
    .block{display: inline-block}
</style>

<div style="margin-top: 100px; margin-bottom: 100px">
  <div class="text-center  mx-auto w-50 p-3">

    <div class="text-center  mx-auto border">
      <div class="text-center  mx-auto">
        <br>
        <div>
          <%= link_to (image_tag @item.image.url, style: "width: 90%;" if @item.image?), users_lottery_path(@item) %>
        </div>
        <br>
        <div>
          <%= @item.name %>
        </div>
        <br>
      </div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: <%= progress(@item) %>%;" aria-valuenow="<%= progress(@item) %>" aria-valuemin="0" aria-valuemax="100"><%= progress(@item) %>%</div>
      </div>
      <div class="text-center  mx-auto">
        <%= form_for @bet, url: users_lotteries_path, method: :post do |f| %>
          <div class="text-center  mx-auto w-50 p-3">
            <div class="block">
              <button class="btn btn-primary" id="minus">−</button>
            </div>
            <div class="block">
              <%= f.number_field :coins, min: 1, value: 1, class: 'form-control text-center' %>
            </div>
            <div class="block">
              <button class="btn btn-primary" id="plus">+</button>
            </div>
          </div>
          <br>
          <%= f.hidden_field :item_id, value: @item.id %>
          <%= f.hidden_field :batch_count, value: @item.batch_count %>
          <%= f.submit "Bet now", data:{confirm:'Are you sure do you want to bet on this item?'}, class: 'btn btn-primary btn-lg btn-block text-center  mx-auto', style: 'margin-buttom: 10px;' %>
          <br><br>
        <% end %>
      </div>
    </div>
    <br>

    <div class="text-center  mx-auto border">
      <div class="text-center  mx-auto border bg-dark text-light" style="padding: 5px">
        <h3>Serial number</h3>
      </div>

      <% @bets.each do |bet| %>
        <div class="text-center  mx-auto border">
          <p><%= bet.serial_number %></p>
        </div>
      <% end %>
    </div>

  </div>
  <br><br><br>
</div>

<script>
    const minusButton = document.getElementById('minus');
    const plusButton = document.getElementById('plus');
    const inputField = document.getElementById('bet_coins');

    minusButton.addEventListener('click', event => {
        event.preventDefault();
        const currentValue = Number(inputField.value) || 0;
        if (currentValue > 1) {
            inputField.value = currentValue - 1;
        }
    });

    plusButton.addEventListener('click', event => {
        event.preventDefault();
        const currentValue = Number(inputField.value) || 0;
        inputField.value = currentValue + 1;
    });
</script>

<%= render "layouts/sharednav/nav" %>